.testimonial-card {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 83px;
    margin-top: 20px;
    
}
.testimonial-card-container {
    background-color: #edefee;
    border-radius: 20px;
    transition: 0.3s;
    height: 23rem;
    width: 18rem;
    padding: 1rem;
}
.testimonial-card-container:hover {
    box-shadow: 0 0 15px #495e57;
    transition: 0.3s;
}

.testimonial-card-text {
    text-align: center;
}

.testimonial-card-title {
    display: flex;
    justify-content: space-between;
}

.testimonial-card-text p {
    font-size: 15pt;
    font-style: italic;
    line-height: 1.2;
    margin: 30px 0 50px;
    text-align: centers;
}

.testimonial-card-text h4 {
    font-size: 16pt;
    display: flex;
    align-items: center;
}

.testimonial-image-container {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 100%;
    margin: 1rem auto;
}

.testimonial-image-container img {
    width: 100%;
}


@media screen and (max-width: 1280px) {
    .testimonial-card {
        grid-template-columns: 47% 47%;
        gap: 43px;
    }
    .testimonial-card-container {
        width: 100%;
    }
}

@media screen and (max-width: 659px) {
    .testimonial-card {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }

    .testimonial-card-text p, h3 {
        font-size: smaller;
    }

    .testimonial-card-text h4 {
        font-size: smaller;
    }

    .testimonial-image-container {
        height: 200px;
    }
    .testimonial-card-container {
        width: 100%;
    }
}